
body{
    background: #1c1c2e;
    color: #ffffff;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

a{
    color: #00acee;
}

a:hover{
    color: #ffffff;
}

.steamvr_container{
    background: url('https://steamcommunity-a.akamaihd.net/public/images/steamvr/steamvr_bg.png') top center repeat-y #00649c;
    width: 960px;
    margin: 0 auto;
    padding: 0 0 40px 0;
}

.dark_bg{
    background: url('https://steamcommunity-a.akamaihd.net/public/images/steamvr/announcement_bg.png') repeat;
}

.announcement_container{
    width: 535px;
    padding: 20px 27px 30px 27px;
    background: url('https://steamcommunity-a.akamaihd.net/public/images/steamvr/announcement_bg.png') repeat;
    margin: 0 0 15px 0;
}

.announcement_container h1 a{
    color: #ffffff;
    font-size: 26px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}



.announcement_container img{
    width: 100%;
}

.main_content{
    float: left;
    margin: 24px 0 0 69px;
}

.vr_sidebar{
    float: right;
    margin: 24px 69px 0 0;
    width: 215px;
    min-height: 600px;
}

.vr_sidebar a{
    color: #ffffff;
}

.vr_sidebar img{
    max-width: 100%;
}

.date{
    color: #00acee;
}

.poster a, .announcement_data{
    color: #126e9b;
}

.announcement_data{
    color: #126e9b;
    margin: 0 0 15px 0;
}

.sidebar{
   /* width: 193px;*/
    padding: 0px ;
    margin: 0 0 30px 0;
}

.sidebar_button{
    opacity: .75;
    width: 215px;
}

.button_name{
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		    font-size: 16px;
    margin-bottom: 4px;
}

.button_description{
    font-size: 10px;
    display: block;
    line-height: 120%;
}

.sidebar_button:hover{
    opacity: 1;
}

.community_button{
    background: url('https://steamcommunity-a.akamaihd.net/public/images/steamvr/sidebar_button_bg.png') no-repeat;
    height: 56px;
    width: 180px;
    margin: 0 0 10px 0;
    display: block;
    padding: 6px 9px 12px 9px;
}

.sidebar_devkit_button{
    background: url('https://steamcommunity-a.akamaihd.net/public/images/steamvr/sidebar_devkit_button_bg.png') no-repeat;
    height: 42px;
    width: 180px;
    margin: 0 0 0px 0;
    display: block;
    color: #000000 !important;
    padding: 6px 9px 12px 9px;
}

span.developer_only{
    font-size: 12px;
    display: block;
    line-height: 100%;
}

.sidebar_devkit_button a{
    color: #000000;
}   

.content_bg{
}

.sidebar_title{
    color: #00acee;
    margin-bottom: 4px;
}

.partner_sidebar{
    margin: 0 0 15px 0;
}

.partner_sidebar_button{
    color: #00acee;
    margin-bottom: 4px;
}

.limited{
    line-height: 24px;
}

.signup_required{
    margin-top: 2px;
    color: #666666;
}

.bold{
    font-weight: bold;
}

.small_registered{
    font-size: 10px;
    vertical-align: super;
}

.small_title_registered{
    font-size: 12px;
    vertical-align: 110%;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		    font-weight: 100;
}

.social_media_container{
    float: right;
    max-height: 20px;
}

.social_media_logo{
    margin-left: 10px;
    display: block;
    float: right;
}

.universe_button{
    margin-bottom: 0px !important;
}

.older_post_date{
    color: #000000;
}

.older_posts_title{
    color: #000000;
    font-size: 14px;
    float: left;
    margin-left: 27px;
}

.older_post_link{
    margin: 0 0 2px 27px;
    font-size: 12px;
}


.sidebar_button_link_innerfade {
    background: linear-gradient(to right, rgba(22, 30, 51, 1) 5%, rgba(5, 36, 60, 1) 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    padding: 1px;
    text-decoration: none !important;
    margin: 0 0 10px 0;
}

.sidebar .sidebar_button_link_innerfade:last-child{
    margin: 0px;
}

span.inner_button {
  background: linear-gradient(to right, rgba(22, 30, 51, 1) 5%, rgba(5, 36, 60, 1) 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 0px;
  display: block;
  padding: 6px 6px 12px 9px;
  height: 55px;
}

.htc_dev_kit_coming_soon{
    background: url('https://steamcommunity-a.akamaihd.net/public/images/steamvr/dev_kit_button_bg.png') top center no-repeat;
    display: block;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    opacity: .85;
    font-size: 15px;
    line-height: 128%;
}

.htc_dev_kit_coming_soon:hover{
    opacity: 1;
}

/* Signup Page */

input, textarea{
    background: #22415e;
    border: 1px solid #00acee;
    border-radius: 0px;
    padding: 8px;
    color: #ffffff;
    display: block;
    font-size: 14px;
}

input{
    width: 204px;   
}

input.input_short{
    width: 38px;
}

input.input_medium{
    width: 65px;
}

input[type=submit]:hover{
    cursor: pointer;
    opacity: 1;
}

input[type=submit]{
    background: rgb(199,226,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(199,226,234,1) 0%, rgba(0,114,161,1) 58%, rgba(0,114,161,1) 58%, rgba(0,114,161,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,226,234,1)), color-stop(58%,rgba(0,114,161,1)), color-stop(58%,rgba(0,114,161,1)), color-stop(100%,rgba(0,114,161,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(199,226,234,1) 0%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(199,226,234,1) 0%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(199,226,234,1) 0%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(199,226,234,1) 0%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 58%,rgba(0,114,161,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e2ea', endColorstr='#0072a1',GradientType=0 ); /* IE6-9 */
    width: 154px;
    height: 45px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .85;
}

a.return_home{
    opacity: .6;
    display:block;
    color: #ffffff;
    margin: -40px 0 30px 0;
    font-size: 12px;
}

a.return_home:hover{
    opacity: .8;
}

.form_section{
    margin: 0 0 25px 0;
}

.input_container{
    width: 220px;
    margin-bottom: 10px;
}

.small_input_container{
    width: 54px;
    margin-right: 15px !important;
}

.medium_input_container{
    width: 90px;
}

.left{
    float: left;
    margin-right: 45px;
}

.right{
    float: right;
}

label{
    font-size: 10px;
    margin: 0 0 3px 0;
    display: block;
}

.signup_header{
    text-align: center;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		    font-size: 35px;
}

.signup_subheader{
    text-align: center;
    font-size: 20px;
    padding-left: 7px;
}

.signup_intro{
    margin: 20px 0 20px 0;
    color: #00adef;
    line-height: 130%;
    font-size: 15px;
}

.signup_today{
    color: #ffffff;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.steamvr_signup_container{
    background: url('https://steamcommunity-a.akamaihd.net/public/images/steamvr/steamvr_bg.png') top center no-repeat #00649c;
    width: 820px;
    margin: 0 auto;
    padding: 70px;
}

.signup_steamvr_nav_container{
    padding: 14px 15px 20px 24px;
    width: 573px;
    float: left;
}

.signup_steamvr_nav_container span.inner_button, .steam_universe_container span.inner_button{
    height: 60px;
}

.steamvr_signup_container a.sidebar_button{
    float: left;
    margin: 0 12px 0 0;
    width: 177px;
    color: #ffffff;
}

.steamvr_signup_container .span.inner_button{
    padding: 6px 5px 12px 4px;
}

 .steamvr_signup_container a.last_nav_button{
    margin: 0px !important;
 }

 .steamvr_signup_container .button_name{
    font-size: 15px;
 }




.signup_sidebar_header{
    font-size: 18px;
    margin: 0 0 15px 0;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		    line-height: 120%;
}

.sidebar_sub_heading{
    color: #00adef;
    font-size: 14px;
}

.signup_sidebar_title{
    color: #00adef;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.signup_sidebar_text{
    margin: 0 0 15px 0;
}

.signup_form_container{
    padding: 27px 27px 30px 27px;
    margin: 0px 15px 15px 0px;
    float: left;
    width: 495px;
}


.signup_sidebar{
    float: right;
    padding: 20px 20px 30px;
    width: 212px;
    height: 732px;
    font-size: 12px;
}

#input_project_description{
    width: 477px;
    height: 100px;
}

.steam_universe_container{
    float: left;
    margin-left: 5px;
    padding: 43px 15px 20px 12px;
    width: 176px;
    height: 80px;
}

.form_section_header{
    margin-bottom: 10px;
    font-size: 11px;
}

.date_section{
    margin-top: -16px;
    font-size: 11px;
}

.date_header{
    margin-bottom: 5px;
}

.success_text{
    text-align: center;
    padding: 100px;
}

.success_box{
    margin: 100px 54px;
}

.team_size_container{
    margin-right: 132px;
}